*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  text-align: center;
}

img {
  width: 20px;
  height: auto;
}

@media screen and (orientation: landscape) {
  body {
    height: 100%;
    width: 100%;
  }

  .btnsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .betBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
  }

  .dealBtn {
    width: 80px;
    height: 40px;
  }

  .card {
    width: auto;
    height: 100px;
    margin: 0 10px;
  }
}
