*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  text-align: center;
}

img {
  width: 20px;
  height: auto;
}

@media screen and (orientation: landscape) {
  body {
    height: 100%;
    width: 100%;
    background-color: pink;
  }

  .handDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pointDiv {
    background-color: black;
    color: red;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btnsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .betBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
  }

  .dealBtn {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    color: white;
  }

  .deActiveBtn {
    background-color: gray;
  }

  .activeBtn {
    background-color: green;
  }

  .dealBtn:hover {
    background-color: black;
    color: pink;
  }

  .card {
    width: auto;
    height: 100px;
    margin: 0 10px;
  }
}
