*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  text-align: center;
}

img {
  width: 20px;
  height: auto;
}

@media screen and (orientation: landscape) {
  body {
    height: 100%;
    width: 100%;
  }

  .betBtn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .dealBtn {
    width: 80px;
    height: 40px;
  }
}
